.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18pt;
  height: 100vh;

  .title-bar {
    width: 100%;
    background-color: #e4d5af;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;

    .title-bar-content {
      margin: 20px 0px 30px 30px;
    }

    h1 {
      font-family: "Source Code Pro", monospace;
      font-size: 32pt;
      margin: 0px;
    }
  }

  .login-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    min-width: 275px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #1db954;
    font-size: 13px;
    border-radius: 500px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 500px;
    padding: 16px 48px 18px;

    &:hover {
      background-color: #25d462;
    }
  }
}
