.nav-container {
  width: 100%;
  padding: 20px 0px 10px 0px;
  background-color: #e4d5af;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;

  .title {
    display: flex;
    justify-content: center;
    font-family: "Source Code Pro", monospace;
    font-size: 32pt;
    text-align: center;
    margin-bottom: 20px;
  }

  .links-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .links {
      display: flex;
      justify-content: space-around;
      font-weight: 300;
      font-size: 19pt;
      width: 80%;
    }
  }

  .logout {
    position: relative;
    left: 94vw;
    top: -90px;
    cursor: pointer;
  }

  .logout:hover {
    color: #5a6e53;
  }
}
